---
import Layout from '../../layouts/Page.astro';
import { Container } from '@odyssey-theme/components';

const seo = {
	title: 'Contact Us | Jadra',
	description: 'Contact page containing phone number, email address and address with google maps location.',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1 class="mb-4 text-xl">Contact Us</h1>
				<div>
					<p>
						<a href="tel:+385989095755">+385 98 909 5755</a>
					</p>
					<p>Otok Piškera, 22243, Kornati</p>
					<iframe width="500" height="350" frameborder="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=15.333116054534914%2C43.751877197928735%2C15.34770727157593%2C43.771140302094025&amp;layer=mapnik" style="border: 1px solid black" class="map"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=16/43.7615/15.3404">View Larger Map</a></small>
				</div>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.map {
		margin-top: 1rem;
		border-radius: var(--theme-shape-radius);
	}
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: calc(90vh - var(--navbar-height));
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.contact-hero__text-section {
			width: 100%;
		}
		.map{
			width: 100%;
		}
	}
</style>
