---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@odyssey-theme/components';

const seo = {
	title: 'Contact | Jadra',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contact Us</h1>
				<div>
					<p>
						<a href="tel:8008675309">+38598 909 5755, </a>
							<a href="mailto:
							konobajadra@gmail.com">konobajadra@gmail.com</a>
					</p>
					<p>Otok Piškera, 22243, Kornati</p>
					<iframe width="550" height="350" frameborder="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=15.333116054534914%2C43.751877197928735%2C15.34770727157593%2C43.771140302094025&amp;layer=mapnik" style="border: 1px solid black" class="map"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=16/43.7615/15.3404">View Larger Map</a></small>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.map {
		margin-top: 1rem;
	}
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
