---
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>	
		<div slot="text-container">
			<h1>Croatia</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nisi
				recusandae? Quidem dignissimos nobis, dicta unde, aperiam voluptate
				autem iste reprehenderit, aliquam ducimus illo ea ipsum qui animi sequi.
				Numquam.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/menu/menu-hr.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
</Layout>
