---
import { Container } from '@odyssey-theme/components';
---

<Container>
	<div class="container my-6 px-6 mx-auto">

		<!-- Section: Design Block -->
		<section class="mb-12 text-gray-800 text-center">
			<h1 class="text-3xl font-bold mb-1">Food Menu</h1>
			<hr class="solid mb-8">
	
			<div class="grid md:grid-cols-4 gap-x-3 lg:gap-x-12">
				
				<div class="mb-6 lg:mb-0">
					<div class="bg-white block rounded-lg shadow-lg">
						<div class="relative overflow-hidden bg-no-repeat bg-cover">
							<img src="/assets/images/menu/menu-hr.webp" class="w-full rounded-t-lg" alt="croatian food menu" alt="croatian food menu" loading="lazy"/>
							<a href="/assets/images/menu/menu-hr.webp" aria-label="croatian food menu image" aria-label="croatian food menu image" target="_blank"  rel="noopener">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
							</a>
						</div>
						<div class="">
							<h5 class="text-lg font-bold mb-4">Hrvatski</h5>
						</div>
					</div>
				</div>
	
				<div class="mb-6 lg:mb-0">
					<div class="bg-white block rounded-lg shadow-lg">
						<div class="relative overflow-hidden bg-no-repeat bg-cover">
							<img src="/assets/images/menu/menu-de.webp" class="w-full rounded-t-lg" alt="german food menu" loading="lazy"/>
							<a href="/assets/images/menu/menu-de.webp" aria-label="german food menu image" target="_blank"  rel="noopener">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
							</a>
						</div>
						<div class="">
							<h5 class="text-lg font-bold mb-4">Deutsch</h5>
						</div>
					</div>
				</div>
	
				<div class="mb-6 lg:mb-0">
					<div class="bg-white block rounded-lg shadow-lg">
						<div class="relative overflow-hidden bg-no-repeat bg-cover">
							<img src="/assets/images/menu/menu-it.webp" class="w-full rounded-t-lg" alt="italian food menu" loading="lazy" />
							<a href="/assets/images/menu/menu-it.webp" aria-label="italian food menu image" target="_blank"  rel="noopener">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
							</a>
						</div>
						<div class="">
							<h5 class="text-lg font-bold mb-4">Italiano</h5>
						</div>
					</div>
				</div>

				<div class="mb-6 lg:mb-0">
					<div class="bg-white block rounded-lg shadow-lg">
						<div class="relative overflow-hidden bg-no-repeat bg-cover">
							<img src="/assets/images/menu/menu-eng.webp" class="w-full rounded-t-lg" alt="english food menu" loading="lazy"/>
							<a href="/assets/images/menu/menu-eng.webp" aria-label="english food menu image" target="_blank"  rel="noopener">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
							</a>
						</div>
						<div class="">
							<h5 class="text-lg font-bold mb-4">English</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section: Design Block -->

		<section class="mb-6 text-gray-800 text-center">
			<h2 class="text-3xl font-bold mb-1">Drinks Menu</h2>
			<hr class="solid mb-8">
	
			<div class="grid md:grid-cols-2 gap-x-3 lg:gap-x-12">

				<div class="mb-6 lg:mb-0">
					<div class="bg-white block rounded-lg shadow-lg">
						<div class="relative overflow-hidden bg-no-repeat bg-cover">
							<img src="/assets/images/menu/drinks-hr.webp" class="w-full rounded-t-lg" alt="croatian drinks menu" loading="lazy"/>
							<a href="/assets/images/menu/drinks-hr.webp" aria-label="croatian drinks menu image" target="_blank"  rel="noopener">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
							</a>
						</div>
						<div class="">
							<h5 class="text-lg font-bold mb-4">Hrvatski</h5>
						</div>
					</div>
				</div>

				<div class="mb-6 lg:mb-0">
					<div class="bg-white block rounded-lg shadow-lg">
						<div class="relative overflow-hidden bg-no-repeat bg-cover">
							<img src="/assets/images/menu/drinks-eng.webp" class="w-full rounded-t-lg" alt="english drinks menu" loading="lazy"/>
							<a href="/assets/images/menu/drinks-eng.webp" aria-label="english drinks menu image" target="_blank"  rel="noopener">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"></div>
							</a>
						</div>
						<div class="">
							<h5 class="text-lg font-bold mb-4">English</h5>
						</div>
					</div>
				</div>

			</div>
			<hr class="solid mb-10">
		</section>
	</div>
</Container>
