---
import { Container } from '@odyssey-theme/components';
---

<script>
  // Get the button
let mybutton = document.getElementById('btn-back-to-top');

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = 'block';
  } else {
    mybutton.style.display = 'none';
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener('click', backToTop);
</script>

<Container>
	<div class="container my-6 px-6 mx-auto">

		<section class=" text-gray-800 text-center ">
	
			<h1 class="text-3xl font-bold text-zinc-800">Food Menu</h1>
			<h2 class="text-sm mb-4">(Click/Tap on Menus to open bigger image)</h2>
	
			<div id="carouselFood" class="carousel slide relative carousel-dark" data-bs-ride="carousel" data-bs-interval="false">
				<div class="carousel-inner relative w-full overflow-hidden">
					<div class="carousel-item active relative float-left w-full">
						<a href="/assets/images/menu/menu-hr.webp" target="_blank" aria-label="hr menu">
						<img class="menus shadow-lg mb-6 mx-auto"
							src="/assets/images/menu/menu-hr.webp" alt="croatian menu" style="max-width: 756px;"/>
						</a>
					</div>
					<div class="carousel-item relative float-left w-full">
						<a href="/assets/images/menu/menu-de.webp" target="_blank" aria-label="de menu">
						<img class="menus shadow-lg mb-6 mx-auto"
							src="/assets/images/menu/menu-de.webp" alt="german menu" style="max-width: 756px;"/>
						</a>
					</div>
					<div class="carousel-item relative float-left w-full">
						<a href="/assets/images/menu/menu-it.webp" target="_blank" aria-label="it menu">
						<img class="menus shadow-lg mb-6 mx-auto"
							src="/assets/images/menu/menu-it.webp" alt="italian menu" style="max-width: 756px;"/>
						</a>
					</div>
					<div class="carousel-item relative float-left w-full">
						<a href="/assets/images/menu/menu-eng.webp" target="_blank" aria-label="eng menu">
						<img class="menus shadow-lg mb-6 mx-auto"
							src="/assets/images/menu/menu-eng.webp" alt="english menu" style="max-width: 756px;"/>
						</a>
					</div>
				</div>
				<button
					class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
					type="button" data-bs-target="#carouselFood" data-bs-slide="prev">
					<span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
					type="button" data-bs-target="#carouselFood" data-bs-slide="next">
					<span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
	
		</section>
		
		<hr class="solid mt-8 mb-10">

		<section class=" mb-6 text-gray-800 text-center ">
	
			<h2 class="text-3xl font-bold mb-4 text-zinc-800">Drinks Menu</h2>
	
			<div id="carouselDrinks" class="carousel slide relative carousel-dark" data-bs-ride="carousel" data-bs-interval="false">
				<div class="carousel-inner relative w-full overflow-hidden">
					<div class="carousel-item active relative float-left w-full">
						<a href="/assets/images/menu/drinks-hr.webp" target="_blank" aria-label="hr drinks">
						<img class="menus shadow-lg mb-6 mx-auto"
							src="/assets/images/menu/drinks-hr.webp" alt="drinks croatian" style="max-width: 756px;"/>
						</a>
					</div>
					<div class="carousel-item relative float-left w-full">
						<a href="/assets/images/menu/drinks-eng.webp" target="_blank" aria-label="eng drinks">
						<img class="menus shadow-lg mb-6 mx-auto"
							src="/assets/images/menu/drinks-eng.webp" alt="drinks english" style="max-width: 756px;"/>
						</a>
					</div>
				</div>
				<button
					class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
					type="button" data-bs-target="#carouselDrinks" data-bs-slide="prev">
					<span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
					type="button" data-bs-target="#carouselDrinks" data-bs-slide="next">
					<span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
	
		</section>

		<hr class="solid mb-12">
		
	</div>
	<button
type="button"
data-mdb-ripple="true"
data-mdb-ripple-color="light"
class="p-3 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out hidden bottom-5 right-5 fixed"
id="btn-back-to-top"
>
<svg
  aria-hidden="true"
  focusable="false"
  data-prefix="fas"
  class="w-4 h-4"
  role="img"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 448 512"
>
  <path
    fill="currentColor"
    d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
  ></path>
</svg>
</button>
</Container>

<style>
	.menus{
		width: 70%;
	}

	@media (max-width: 768px) {
		.menus{
			width: 90%;
		}
	}
</style>
