---
import { Container } from '@odyssey-theme/components';
		// check for a local storage theme first
const localStorageTheme = localStorage.getItem('theme');

let language = 'hr';

switch(localStorageTheme) {
	case 'default':
		language = "hr";
		break;
	case 'earth':
		language = "de";
		break;
	case 'ocean':
		language = "it";
		break;
	case 'sand':
		language = "eng";
		break;
	default:
		language = "hr";
		break;
}
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__image">
			<picture>
				<img
					src={`/assets/images/menu/menu-${language}.png`}
					alt="Menu Food"
					id="menu-image-food"
				/>
			</picture>
		</div>
	</section>
	<section class="hero-section__section">
		<div class="hero-section__image">
			<picture>
				<img
					src="/assets/images/menu/drinks-hr.png"
					alt="Menu Drinks"
					id="menu-image-drinks"
				/>
			</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		margin-top: 1rem;
		margin-bottom: 2rem;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image :global(img) {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	.img-container-countries {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
</style>
