---
import { Container, Button } from '@odyssey-theme/components';
import settings from '../../../config/settings.js';
import ThemeSwitcher from '../../theme-switcher/ThemeSwitcher.astro';
import Logo from '../../Logo.astro';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__image mx-auto">
			<picture>
				<img
					src="/assets/images/home/5.png"
					alt="seafood left illustration"
				/>
			</picture>
	</div>
		<div class="hero-section__text">
			<div class="logo-mobile w-3/5 flex flex-row justify-center items-center">
				<Logo />
			</div>
			{settings.enableThemeSwitcher && <ThemeSwitcher />}
			<h1 class="font-bold text-xl text-center">Konoba Jadra</h1>
				<p class="mb-4 text-sm text-center">
					A seafood restaurant located in Kornati National Park on Island Piškera, Croatia.
				</p>
				<iframe width="350" height="350" frameborder="1" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=15.333116054534914%2C43.751877197928735%2C15.34770727157593%2C43.771140302094025&amp;layer=mapnik" class="map"></iframe><br/>
				<div class="hero-btns__container">
					<Button href="/company/contact" materialIcon="call"
						>Reservations</Button
					>
					<Button href="/company/menu" materialIcon="article"
						>The Menu</Button
					>
				</div>
		</div>
		<div class="hero-section__image mx-auto">
			<picture>
				<img
					src="/assets/images/home/6.png"
					alt="seafood right illustration"
				/>
			</picture>
	</div>
	</section>
	<hr class="solid mb-8">
	<div class="container px-12 mx-auto">
		<section class="mb-16 text-gray-800">
			<style>
				.zoom:hover img {
					transform: scale(1.1);
				}
			</style>
			<div class="grid lg:grid-cols-3 gap-6">

				<div class="zoom shadow-lg home-image relative overflow-hidden bg-no-repeat bg-cover"
					style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
					<img src="/assets/images/home/home-1.jpg" alt="Staff Image"
						class="w-full transition duration-300 ease-linear align-middle" loading="lazy" />
					<a href="#!">
						<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden">
						</div>
						<div class="hover-overlay">
							<div
								class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
								style="background-color: rgba(253, 253, 253, 0.15)"></div>
						</div>
					</a>
				</div>
	
				<div class="zoom shadow-lg home-image relative overflow-hidden bg-no-repeat bg-cover"
					style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
					<img src="/assets/images/home/home-2.jpg" alt="Indoors Image"
						class="w-full transition duration-300 ease-linear align-middle" loading="lazy" />
					<a href="#!">
						<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
							style="background-color: rgba(0, 0, 0, 0.1)">
							<div class="flex justify-start items-end h-full">
							</div>
						</div>
						<div class="hover-overlay">
							<div
								class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
								style="background-color: rgba(253, 253, 253, 0.15)"></div>
						</div>
					</a>
				</div>
	
				<div class="zoom shadow-lg home-image relative overflow-hidden bg-no-repeat bg-cover"
					style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="dark">
					<img src="/assets/images/home/home-3.jpg" alt="Outdoors Image"
						class="w-full transition duration-300 ease-linear align-middle" loading="lazy"/>
					<a href="#!">
						<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
							style="background-color: rgba(0, 0, 0, 0.1)">
							<div class="flex justify-start items-end h-full">
							</div>
						</div>
						<div class="hover-overlay">
							<div
								class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
								style="background-color: rgba(253, 253, 253, 0.15)"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="mt-6 flex flex-row justify-center items-center">
				<Button href="/company/gallery" materialIcon="collections"
					>Image Gallery</Button
				>
			</div>
		</section>
	</div>
	<div class="container mt-6 px-6 mx-auto w-5/6">
		<p class="text-sm text-zinc-600 italic ">
			"This restaurant is recommended to Mediterranean cuisine lovers. Perfectly cooked fried fish, prawns and lamb have an appetizing taste. In accordance with the guests' opinions, waiters offer good che here. Ale lovers will find it delicious.
		</p>
		<p class="mt-6 text-sm text-zinc-600 italic">
			The atmosphere of hospitality of Konoba Jadra highly depends on the staff, that is energetic here. Service at this place is something one can name enjoyable. Prices are low for the quality you get. A lot of people note that the atmosphere is pretty here."
			<p class="mt-6 text-md text-zinc-600">
				<a href="https://restaurantguru.com/Konoba-Jadra-Kornati" class="primary-color" target="_blank"> - Restaurant Guru</a>
			</p> 
		</p>
	</div>
	<div class="container my-24 px-12 mx-auto">

		<section class="mb-32 text-gray-800 text-center ">
	
			<h2 class="text-3xl font-bold mb-2 text-zinc-800">Testimonials</h2>
			<h6 class="text-sm mb-12">(Clicking Review Titles leads to the actual Review)</h6>
	
			<div class="grid md:grid-cols-3 gap-x-6 lg:gap-x-12">
				<div class="mb-12 md:mb-0">
					<div class="flex justify-center mb-6">
						<img src="/assets/images/avatars/review-1.jpg" class="avatars shadow-lg w-32" />
					</div>
					<h5 class="text-lg font-bold mb-4">Fernando_V6</h5>
					<h6 class="primary-color mb-4 "><a href="https://www.tripadvisor.com/ShowUserReviews-g303811-d10447997-r844406219-Konoba_Jadra-Kornati_Islands_National_Park_Sibenik_Knin_County_Dalmatia.html" target="_blank">Oasis for gourmets</a></h6>
					<p class="mb-4 text-zinc-600 text-sm">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
							class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
							</path>
						</svg>
						Lovely service and fresh meals. My family and I stayed for 3 days on the dock in front of the restaurant and have been eating seafood with great Posip vine for a drink. We truly enjoyed and experienced truly medditeranean ambience and I’m sure we will come back. I recommend it to everyone who wants a good rest with full stomach :)
					</p>
					<ul class="flex justify-center mb-0">
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star-half-alt"
								class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
					</ul>
				</div>
				<div class="mb-12 md:mb-0">
					<div class="flex justify-center mb-6">
						<img src="/assets/images/avatars/review-2.jpg" class="avatars shadow-lg w-32" />
					</div>
					<h5 class="text-lg font-bold mb-4">Quoshak</h5>
					<h6 class="primary-color mb-4"><a href="https://www.tripadvisor.com/ShowUserReviews-g303811-d10447997-r763379681-Konoba_Jadra-Kornati_Islands_National_Park_Sibenik_Knin_County_Dalmatia.html" target="_blank">Friendly staff and nice food</a></h6>
					<p class="mb-4 text-zinc-600 text-sm">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
							class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
							</path>
						</svg>I was there with my friends, and we were mostly eating see food. Everybody was very satisfied with the food. Very good fish from grill. Location is nice but you have to get there by small boat.
					</p>
					<ul class="flex justify-center mb-0">
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z">
								</path>
							</svg>
						</li>
					</ul>
				</div>
				<div class="mb-0">
					<div class="flex justify-center mb-6">
						<img src="/assets/images/avatars/review-3.jpg" class="avatars shadow-lg w-32" />
					</div>
					<h5 class="text-lg font-bold mb-4">iLili_p</h5>
					<h6 class="primary-color mb-4"><a href="https://www.tripadvisor.com/ShowUserReviews-g303811-d10447997-r705176625-Konoba_Jadra-Kornati_Islands_National_Park_Sibenik_Knin_County_Dalmatia.html" target="_blank">Nice Dalmatian restaurant</a></h6>
					<p class="mb-4 text-zinc-600 text-sm">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left"
							class="w-6 pr-2 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path fill="currentColor"
								d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z">
							</path>
						</svg>It is a good restaurant with very friendly staff. They are offering free transport from marina Piškera. Nice location, stone house with park.
						It is not fancy, but typical Dalmatian restaurant in the middle of Kornati which offers simple dishes - fresh fish, other sea food and lamb. Fish was very good and fresh.
					</p>
					<ul class="flex justify-center mb-0">
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
								</path>
							</svg>
						</li>
						<li>
							<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="w-4 text-yellow-500"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
								<path fill="currentColor"
									d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z">
								</path>
							</svg>
						</li>
					</ul>
				</div>
			</div>
	
		</section>
	
	</div>
</Container>

<style>
	.logo-mobile{
		display: none;
	}
	.avatars {
		border-radius: var(--theme-shape-radius);
	}
	.primary-color{
		color: var(--theme-primary);
	}
	.home-image {
		border-radius: var(--theme-shape-radius);
	}
	.map{
		width: 100%;
		max-height: 100vh;
		object-fit: cover;
		border: 1px solid;
		border-radius: var(--theme-shape-radius);

		}
	.hero-section__section {
		margin: var(--section-margin) auto;
		margin-bottom: 2rem;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		background: url(/assets/images/home/bg2.png) no-repeat bottom 360px center;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
		align-items: center;
	}
	.hero-btns__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		align-items: center;
		justify-items: center;
		margin-right: auto;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		margin-top: 5rem;
		max-height: 80vh;
		object-fit: cover;
	}
	@media (max-width: 768px) {
		.map{
			width: 100%;
		}
	}
	@media only screen and (max-width: 1300px) {
    .logo-mobile{
			display: block;
			margin-left: 20%;
		}
		.hero-section__image img {
		width: 100%;
		height: 100%;
		margin: auto;
		margin-top: 50%;
		max-height: 60vh;
		object-fit: cover;
		}
		.hero-btns__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		align-items: center;
		justify-items: center;
		margin-right: auto;
		margin-bottom: 1.5rem;
		}
		.hero-section__section {
		margin: var(--section-margin) auto;
		margin-bottom: 0;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		background: url(/assets/images/home/bg2.png) no-repeat bottom 390px center;
	}
	}
	@media only screen and (max-width: 1000px) {
    .logo-mobile{
			display: block;
			margin-left: 20%;
			margin-bottom: 1rem;
		}
    .hero-section__image img {
		display: none;
		}
		.hero-btns__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		align-items: center;
		justify-items: center;
		margin-right: auto;
		margin-bottom: 0.5rem;
		}
		.hero-section__section {
		margin: var(--section-margin) auto;
		margin-bottom: 0;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr;
		padding: 1rem;
		background: url(/assets/images/home/bg2.png) no-repeat bottom 320px center;
	}
	
	}
	@media only screen and (max-width: 400px) {
		.hero-section__section {
		margin: var(--section-margin) auto;
		margin-bottom: 0;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr;
		padding: 1rem;
		background: url(/assets/images/home/bg2.png) no-repeat bottom 360px center;
	}
		.hero-btns__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0.5rem;
		align-items: center;
		justify-items: center;
		margin-right: auto;
		margin-bottom: 0.5rem;
		}
	}

</style>
