:root {
    /* Theme Colors */
    --theme-primary: #00388b;
    --theme-primary-hover: hsl(219, 66%, 44%);
    --theme-on-primary: #fff;

    --theme-bg: #fff;
    --theme-on-bg: #000;

    --theme-surface-1: #f2f2f2;
    --theme-on-surface-1: #000;

    --theme-surface-2: #cce6d0;
    --theme-on-surface-2: #000;

    /* Theme Shape */
    /* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
    --theme-shape-radius: 15px;
    --theme-button-border-radius: 5px;

    /* Theme Transition */
    --theme-transition: 0.2s ease-in-out;

    /* Theme Layout */
    --section-margin: 3rem;
    --theme-grid-gap: 1rem;
    --container-max-width: 1440px;
    --container-max-width-narrow: 960px;
    --container-padding: 0;

    --theme-blog-post-header-width: 1200px;

    /* Theme Fonts */
    --theme-font-family-serif: 'Montserrat', sans-serif;
    --theme-font-family-sans: 'Montserrat', sans-serif;
}

[data-theme='default'] {
    /* Menu Image */
}

[data-theme='earth'] {
    /* Theme Colors */
}

[data-theme='ocean'] {
    /* Theme Colors */
    /* Theme Colors */
}

[data-theme='sand'] {
    /* Theme Colors */
    /* Theme Colors */

}
